# Python
__pycache__/
*.pyc
*.pyo
.eggs/
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Test reports
# reports/

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Matlab auto-save
*.asv

# IDE
.vscode/settings.json

# CalMS21 download cache
.cache/
